<div class="app-card-container">
    <div class="skill">
      <h2>Percentage of My Experiences Per Language:</h2>
    </div>
    
    <div class="skill">
      <%= image_tag "computer_code.jpg", width: '78%', alt: "code", class: "about-img" %>
    </div>

    <div class="row">
      <div class="skills">
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
        <% end %>
        <p>
        "Beyond building this portfolio to introduce myself, I have worked for several employers as a programmer-for-hire and continue my personal projects that first pulled me into the field. As a junior programmer, I go the extra mile to provide deliverables on a timely basis and have proven my coding ingenuity with logical code solutions."
        </p><br /><p>
        "Explore more features I built into this portfolio (and maybe use it for your own purposes): download the GitHub repository release 4.1.4 of this portfolio and follow the instructions in the release comments (to see site_admin features such as drag-and-drop sorting of code example models): <a href="https://github.com/GProSoftware828/devcamp-portfolio/releases/tag/4.1.4">Version 4.1.4</a>"
        </p><br />
        <p>
        <div class="card-button">
          <button
            class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#resume"
              aria-expanded="false"
              aria-controller="resume"
          >
          Click Here for Resume
          </button>
        </div>
        </p>
        </div>
        <p>
          <div class="row">
            <div class="collapse" id="resume" width: '78%'>
              <div class="card-block card">
                <h2>Hummingbird - C++, JavaScript, Ruby</h2><br/>
                <p>2012-2019+</p><br/>
                <p>C++ maturity rating scan for books, experiments in Ruby and JavaScript, possible patents involved in the long term</p><br />
                <p>Copyrighted software owned by George Payne in USA from 2016</p>
                <p>Large software development phase 2012-2016 created 2.5 second performance (each book scan)</p>
              </div>
              <div class="card-block card">
                <h2>Narrati√ - Ruby on Rails</h2><br/>
                <p>2016-2018</p><br/>
                <p>I conceived this start-up and managed a small team on Pivotal Tracker to develop the prototype in Rails.</p><br />
                <p>"A social media alternative to self-publishing that instantly monetizes your book"</p><br />
                <p>In development for eventual showcasing to investors</p><br />
              </div>
              <div class="card-block card">
                <h2>www.authorgeorgiepayne.com - HTML5, CSS3, jQuery, JavaScript</h2><br/>
                <p>2016-2019</p><br/>
                <p>My first live project as a programmer was this static personal website hosted via FileZilla on cPanel.</p><br />
                <p>jQuery alerts, CSS3 animations, HTML5 nav bar, Google email sign-up API</p><br />
                <p>It had a link to watch my indie movie on Vimeo via PayPal for $1.50.</p><br />
                <p>I ran a blog based on psychology in entertainment (see Blog section of this portfolio).</p><br />
              </div>
              <br /><br /><br />
                <p style="color:black;">Drag and drop to desktop:</p>
                <div class="skill">
                  <%= image_tag "Resumejpg.jpg", width: '78%', alt: "code", class: "about-img" %>
                </div>
            </div>       
          </div>
        </p>
      </div>
    </div>
</div>